@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --primary: #fe4066;
  --secondary: #ffb300;
  --light: #f8f6f6;
  --dark: #3f3f3f;
  --ff-roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
#movie-backdrop {
  width: 100%;
}

.container {
  padding-top: 32px;
}

#actors {
  margin: 24px 16px 0 0;
}

body {
  font-family: var(--ff-roboto);
  margin: 0;
  padding: 0;
  background-color: var(--light);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
.margin-auto {
  margin: auto;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex > * {
  width: 100%;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-around {
  justify-content: space-around;
}
/* nav bar */
.nav-bar {
  background-color: var(--dark);
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.025);
}

.sticky .nav-bar-wrapper .logo .no-scroll {
  display: none;
}

.sticky .nav-bar-wrapper .logo .on-scroll {
  display: block;
}
.nav-bar-wrapper .logo .no-scroll {
  display: block;
}

.nav-bar-wrapper .logo .on-scroll {
  display: none;
}

.logo .no-scroll {
  width: 80px;
}

.logo .on-scroll {
  width: 70px;
}

.nav-bar-wrapper {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  overflow: hidden;
}

.nav-bar-wrapper .links {
  text-align: right;
}

.links li a {
  color: #fff;
  background-color: transparent;
  padding: 5px 14px;
  border-radius: 50px;
  transition: background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.sticky .nav-bar-wrapper .links-search .links li a {
  color: var(--dark);
}
.filter-button-genres:hover,
.filter-button-movieActors:hover,
.links li a:hover {
  text-decoration: none;
  color: rgb(202, 201, 201);
  background-color: rgba(202, 201, 201, 0.432);
}

.search-bar-nav {
  background-color: var(--light);
  padding: 0;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* border: 1px var(--primary) solid; */
}

.search-bar-nav {
  flex: 1;
}
.search-bar-nav input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: var(--dark);
  outline: none;
  padding: 3px 10px;
}

.search-bar-nav button:hover {
  opacity: 0.8;
}

.search-bar-nav button {
  color: var(--light);
  border: none;
  background-color: var(--dark);
  padding: 3px 10px;
  height: 30px;
}
.links {
  display: none;
}

.h-100-vh {
  min-height: 100vh;
}

.width-full {
  width: 100%;
}
#container {
  transition: all 0.5s ease-in-out;
}
aside {
  height: 100% !important;
  width: 100% !important;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
aside.hidden {
  /* transform: translateX(-999%); */

  height: 0 !important;
  width: 0 !important;
  opacity: 0;
}
.burger-menu {
  display: block;
}
#back:hover {
  color: var(--primary);
  /* font-size: 28px; */
  transform: scale(1.05, 1.05);
}
#back {
  background-color: transparent;
  border: none;
  color: var(--dark);
  font-size: 26px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
/* display responsively */
@media (min-width: 1200px) {
  .links {
    display: block;
  }

  .burger-menu {
    display: none;
  }
}

header.sticky {
  background-color: #fff;
  z-index: 9999;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* side bar  */
.side-bar {
  /* margin-top: 36px; */
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  height: 100%;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(170, 170, 170, 0.25);
}

.side-bar-title {
  font-size: 16px;
  font-weight: 300;
  color: var(--dark);
  margin: 0;
  padding: 0;
}

.mtb-40 {
  margin-bottom: 40px;
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.side-bar hr {
  background-color: var(--secondary);
}
.filter-button-genres,
.filter-button-movieActors {
  padding: 5px 20px;
  border: none;
  border-radius: 50px;
  color: #fff;
  background-color: var(--dark);
  margin: 5px;
}

.active {
  color: var(--primary);
  background-color: #fff;
}

.movie-company-logo {
  /* margin: 50px 0 0 0; */
  width: 100%;
}

#movie-backdrop {
  border-radius: 7px;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(170, 170, 170, 0.25);
  margin: 0 0 12px 0;
  width: 100%;
}
/* end sidebar */

.item {
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.item:hover {
  transform: scale(1.1, 1.1);
}

.item .info {
  /* width: 0 !important;
  height: 0 !important;
  opacity: 0 !important; */
  transition: all 0.5 ease-in-out;
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* right: 0;
  left: 0; */
  background-color: #555555b7;
  padding: 10px;
}

/* .item:hover .info {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
} */

.info span {
  color: var(--light);
  z-index: 1;
}

.info button {
  color: #fff;
  background-color: rgba(202, 201, 201, 0.589);
  padding: 3px 8px;
  border-radius: 50px;
  border: none;
  transition: background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  /* margin-top: 60px; */
  font-size: 16px;
  width: 110px;
}

.info button:hover {
  color: rgb(202, 201, 201);
  background-color: rgba(202, 201, 201, 0.432);
}

.thumbnail {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(170, 170, 170, 0.25);
  transition: all 0.3s ease-in-out;
}
.thumbnail:hover {
  transform: translateY(-2%);
  box-shadow: 0 0.75rem 0.75rem 0 rgba(170, 170, 170, 0.37);
}

.item img {
  width: 100%;
}
.item h3 {
  font-size: 16px;
  color: var(--dark) !important;
  font-weight: 400;
  color: var(--dark);

  margin: 10px 5px 20px 5px;
}

footer {
  margin-top: 60px;
  padding: 30px 0;
  background-color: #fff;
}

.items-section {
  margin: 20px auto;
}
.actor-profile {
  border-radius: 7px;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(170, 170, 170, 0.25);
  margin: 0 0 12px 0;
  width: 100%;
}
.actor-name {
  font-size: 16px;
  color: var(--dark);
}

.actor-character {
  font-size: 16px;
  color: var(--primary);
}

/* slider  */
.slide {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.position-relative {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}
/* .image-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
} */
.position-relative .image-wrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
}

.fade-in-image {
  animation: fadeIn 5s forwards;
  -webkit-animation: fadeIn 5s forwards;
  -moz-animation: fadeIn 5s forwards;
  -o-animation: fadeIn 5s forwards;
  -ms-animation: fadeIn 5s forwards;
  z-index: 999;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .display-on-tablet {
    display: block;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .display-on-desktop {
    display: block;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .display-on-lg-screens {
    display: block;
  }
}
